:root {
    --primary-color: black;
    --secondary-color: white;
}

* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.margem {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.menu {
    padding: 0;
    color: black;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 2px;
    padding: 0.5rem;
  }

.logo {
    position: absolute;
    width: 12rem;
    left: 1em;
    top: .6em;
  }

nav {
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}  
       ul a {
            color: black;
            padding: .75em 2em;
            display: block;
            text-decoration: none;
        }
       ul a:hover {
            background: rgb(235, 235, 235);
            font-weight: bold;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            margin-top: 8em;
    }

.close {
    float: left;
    margin: 2em;
    width: 2.5em;
}

header {
    display: flex;
    justify-content: space-between;
}
header svg {
    width: 2.3em;
    margin-top: -.6em;
    cursor: pointer;
}
.open-nav {
    transform: translateX(0%);
}
/*NAVEGAÇÃO*/

/*CARROSSEL DE IMAGENS*/
.carousel {
    margin-top: 0;
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
    position: relative;
  }
  
  .carousel > .slidey {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 1em;
  }
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    -webkit-transition: 200ms opacity ease-in-out;
    transition: 200ms opacity ease-in-out;
    -webkit-transition-delay: 400ms;
            transition-delay: 400ms;
  }
  
  .slide > img {
    width: 100%;
    height: 80vh;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    -webkit-transition-delay: 100ms;
            transition-delay: 100ms;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 35;
    background: none;
    border: none;
    font-size: 4rem;
    top: 40vh;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: white;
    opacity: 75%;
    cursor: pointer;
    border-radius: .5rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .carousel-button:hover,
  .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .carousel-button.prev {
    left: 1rem;
  }
  
  .carousel-button.next {
    right: 1rem;
  }
  
/*CARROSSEL DE IMAGENS*/

/*TÍTULO AFINS*/

h1 {
    font-size: 3.5rem;;
    line-height: 3.3rem;
}



section.hero {
    z-index: 30;
    position: absolute;
    height: auto;
    margin-top: 20vh;
    color: var(--secondary-color);

}
.subhead {
  font-size: 1.5em;

}


/*titulo acaba*/


/*INFORMAÇÕES*/
    .more-info img {
        width: 100%;
        object-fit: cover;
        height: 15em;
        margin-top: 2em;
        margin-bottom: 2em;
        color: var(--primary-color);
    }

    .more-info .title {
        font-weight: bold;
        font-size: 1.25rem;
        color: var(--primary-color);
    }
    .more-info .desc {
        line-height: 1.5rem;
        color: var(--primary-color);
    }

    .fora {
      margin-bottom: 3em;
    }
    .texto-fora-principal {
      margin-bottom: em;
    }
    .fora .title {
      font-size: 1.25rem;
      font-weight: bold;
      color: var(--primary-color);
      margin-bottom: 1em;
    }
/*INFORMAÇÕES*/

h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1em;
}




/*CARD*/
.card-wrapper{
    width:100%;
    padding-top: 20px;
    text-align:center;
    margin-bottom: 5em;
  }
  h2{
    color: var(--primary-color);
  }
  .carrossel{
    width:90%;
    margin:0px auto;
  }
  .slick-slide{
    margin:10px;
  }
  .slick-slide {
    height: auto;
  }

  .slick-slide img{
    width:100%;
    height: 5em;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px ;
  }
  .slick-prev, .slick-next{
    background: #000;
    border-radius: 15px;
    border-color: transparent;
  }
  .card{
    border: 2px solid #fff;
    box-shadow: 1px 1px 15px #ccc;
    border-radius: 15px;
  }
  .card-body{
    background: #fff;
    width: 100%;
    vertical-align: top;
  }
  .card-content{
    text-align: left;
    color: #333;
    padding: 15px;
  }
  .card-text{
    font-size: 14px;
    font-weight: 300;
  }
/*CARD FIMM*/



/*CREDITOS*/
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 0px;
    width: 100%;
    background: #161414;
    margin: 0;
    padding: 0;
}

.main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .main-content .box {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 1em 2em;
  }
  
  .main-content .box h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }
  
  .main-content .box .content ul {
    margin: 0;
    padding: 0;
    font-size: .8em;
    color: white;
    list-style-type: none;
  }
  
  .main-content .box .content a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 1em;
  }
  
  .main-content .box .content a:hover {
    font-weight: bold;
  }
/*FIM CELULAR*/


@media only screen and (min-width: 680px) {

    body {
        font-family: 'Raleway', sans-serif;
    }
    .margem {
        margin: 1.5em 5em;
    }
}

@media only screen and (min-width: 920px) {

    .menu {
        display: none;
    }
    .logo {
        margin: 0.6em;
        width: 15rem;
      }  

    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
    }

        svg.close {
            display: none;
        }

        nav ul {
            display: flex;
            margin: 0;
            }

           nav a {
                color: var(--primary-color);
                padding: .5em 1.5em;
                font-size: .9rem;
                text-decoration: none;
            }
            
            nav a:hover {
               font-weight: bold;
               background: rgb(235, 235, 235);
            }


    section.hero {
        height: auto;
        width: 40%;
        margin-bottom: 8em;
    }

    .subhead, .tophead {
        margin-bottom: 3em;
    }

    .feature {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 3em;
        margin-bottom: 8em;
    }
    
    .feature img {
            width: 25em;
        }
        .content {
            text-align: right;
            width: 25em;
        }

    .feature.left {
        grid-template-areas: 
            "left right";
    }
 
    .feature.left img {
        grid-area: left;
    }

        .content {
            text-align: left;
            width: 25em;
            justify-self: left;
        }
}
.slick-slide img {
    height: 7em;
}

@media only screen and (min-width: 1200px) {
    .principal {
        width: 1200px;
        margin: 0 auto;
    }

    .feature {
        gap: 0;
    }
}
